.tm
{
    border:1px solid;
    padding-left:0px;
    padding-right:1px;
    float:none;
}
.tm img
{
    width:100%;
}
.tm hr
{
    width:230px;
}
.tm h5,.tm p
{
    margin-left:30px;
}
.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: #ff7700;
}
.eli {
    margin-top: 13px;
}

.eli h4 {
    border-bottom: 1px solid white;
    padding: 8px;
}

.eli img {
    border-radius: 25px;
}

.eli p {
    margin-top: 10px;
}
#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

.book
{
 cursor:pointer;
}
.book hr
{
margin-bottom:10px;
}
.modal-content
{
    margin-top:100px;
}
.img_modal
{
  display:inline-block;
}
.p_modal
{
    margin-top:10px;
}
.modal-body
{
    text-align: 
}
